<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
    <style>
    </style>
</head>
<body>
    <header>
        <a href='web' class="logo">Dashboard <span>.</span></a>
        <nav class="navbar">
            <a href="#" id="openNewModalLink">Profile</a>
            <a href="{% url 'logout' %}">Logout</a>
        </nav>
    </header>
    <section class="home">
        <div class="content">
        <h3>{% if user.gender == 'P' %}
            Halo Pak {{ user.pnaggilan}}!
            {% elif user.gender == 'W' %}
            Halo Bu {{ user.pnaggilan}}!
            {% else %}
                Selamat datang {{ user.nama }}
            {% endif %}</h3>
        {% for class in classes %}
        <p>Status: {% if class.status %} Open {% else %} Closed {% endif %}</p>
        
        {% if not class.status %}
            <form method="POST" action="{% url 'open_class' class.id %}">
                {% csrf_token %}
                <a style="--clr: #000" class="btn-3" href="{% url 'open_class' class.id %}">
                    <span class="button__icon-wrapper">
                        <svg width="10" class="button__icon-svg" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 14 15">
                            <path fill="currentColor"
                                d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z">
                            </path>
                        </svg>
    
                        <svg class="button__icon-svg button__icon-svg--copy" xmlns="http://www.w3.org/2000/svg"
                            width="10" fill="none" viewBox="0 0 14 15">
                            <path fill="currentColor"
                                d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z">
                            </path>
                        </svg>
                    </span>
                    Open Class
                </a>
            </form>
        {% else %}
        <p style="padding-bottom: 0px;">Kelas: {{ class.name }}</p>
        <p>Meeting URL: {{ class.meeting_url }}</p>
            <form method="POST" action="{% url 'close_class' %}">
                {% csrf_token %}
                <a style="--clr: #000" class="btn-3" href="{% url 'close_class' %}">
                    <span class="button__icon-wrapper">
                        <svg width="10" class="button__icon-svg" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 14 15">
                            <path fill="currentColor"
                                d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z">
                            </path>
                        </svg>
    
                        <svg class="button__icon-svg button__icon-svg--copy" xmlns="http://www.w3.org/2000/svg"
                            width="10" fill="none" viewBox="0 0 14 15">
                            <path fill="currentColor"
                                d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z">
                            </path>
                        </svg>
                    </span>
                    Close Class
                </a>
            </form>
        {% endif %}
    {% endfor %}
        </div>
        <div class="image">
            <img src="{% static 'asset/img/dash.svg' %}" alt="Home image" />
        </div>
    </section>

    <section class="contact" id="contact" data-aos="fade-up" data-aos-duration="1000">
        <h1 class="heading" data-aos="fade-up" data-aos-duration="1000"> <span> Mahasiswa</span> {{ user.kelas }} </h1>
        <div class="row">
            {% for mhs in mahasiswa %}
            <div class="column" data-aos="flip-right" data-aos-duration="5000">
                <div class="card">
                    <div class="img-container">
                        {% if mhs.gender == "P" %}
                            <img src="{% static 'asset/img/cowo.svg' %}" alt="cowo" />
                        {% elif mhs.gender == "W" %}
                            <img src="{% static 'asset/img/cewe.svg' %}" alt="cewe" />
                        {% else %}
                            <img src="{% static 'asset/img/default.svg' %}" alt="default image" />
                        {% endif %}
                    </div>
                    <h3>{{ mhs.pnaggilan }}</h3>
                </div>
            </div>
        {% empty %}
            <div class="no-students">Tidak ada mahasiswa di kelas ini.</div>
        {% endfor %}
        </div>
    </section>

    <div id="openNewModal" class="newmodal" style="display: none;">
        <div class="newmodal-content">
            <span class="close" id="closeNewModal">&times;</span>
            <!-- Change Password Form -->
            <form method="POST">
                {% csrf_token %}
                <h2>Change Password</h2>
                <div class="input-field">
                    <label for="old_password">Password Saat ini:</label>
                    <input type="password" name="old_password" id="old_password" required />
                </div>
                <div class="input-field">
                    <label for="new_password">Password Baru:</label>
                    <input type="password" name="new_password" id="new_password" required />
                </div>
                <button type="submit" name="change_password">Change Password</button>
            </form>
        </div>
    </div>

    <script>
        // Get modal elements
        const newModal = document.getElementById('openNewModal');
        const openNewModalLink = document.getElementById('openNewModalLink');
        const closeNewModal = document.getElementById('closeNewModal');
    
        // Ensure modal is hidden on page load
        window.onload = function() {
            newModal.style.display = "none";
        }
    
        // Open modal when link is clicked
        openNewModalLink.onclick = function(event) {
            event.preventDefault(); // Prevent default anchor behavior
            newModal.style.display = "flex";
        }
    
        // Close modal when the close button is clicked
        closeNewModal.onclick = function() {
            newModal.style.display = "none";
        }
    
        // Close modal when clicking outside the modal content
        window.onclick = function(event) {
            if (event.target == newModal) {
                newModal.style.display = "none";
            }
        }
    </script>

    <script>
        AOS.init();
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            {% if messages %}
                {% for message in messages %}
                    let type = '{{ message.tags }}';
                    let title = 'Informasi';
                    let icon = 'info';
    
                    if (type === 'error') {
                        icon = 'error';
                        title = 'Oops!';
                    } else if (type === 'success') {
                        icon = 'success';
                        title = 'Berhasil';
                    }
    
                    Swal.fire({
                        icon: icon,
                        title: title,
                        text: '{{ message }}',
                        timer: 5000,
                        showConfirmButton: true,
                        confirmButtonText: 'OK',
                        customClass: {
                            popup: 'custom-swal-popup',
                            title: 'custom-swal-title',
                            content: 'custom-swal-content',
                            confirmButton: 'custom-swal-button'
                        }
                    });
                {% endfor %}
            {% endif %}
        });
    </script>
</body>
</html>
